---
import SectionHeading from '../../SectionHeading';

const { reasons } = Astro.props;

const title = `Experience, Expertise, and Excellence`
const subtitle = `Fifty years of perfecting comprehensive, sustainable care for your home.`
---

<div class="why-choose-us">
  <SectionHeading title={title} subtitle={subtitle} client:only="react" />
  <div class="reasons">
    {reasons.map((reason: any) => (
      <div class="reasons__item">
        <div class="reasons__item-icon">
          <img src={reason.icon} alt={reason.reasonsTitle} />
        </div>
        <div class="reasons__item-title">
          <p>{reason.reasonsTitle}</p>
        </div>
        <div class="reasons__item-description">
          <p>{reason.description}</p>
        </div>
      </div>
    ))}
  </div>
</div>
