---
import FinalCTA from "../../layout/FinalCTA.jsx";

const { finalCTAData } = Astro.props;
const { imgSrc, imgAlt, title, brief, callToActionText, contactText } = finalCTAData;
---

<div class="final-cta-section">
  <div class="final-cta">
    <div class="final-cta__img">
      <img src={imgSrc} alt={imgAlt} />
    </div>
    <div class="final-cta__text">
      <div class="final-cta__content">
        <div class="final-cta__title">{title}</div>
        <div class="final-cta__brief">
          {brief} {callToActionText} <span>{contactText}</span>
        </div>
        <div class="final-cta__cta">
          <FinalCTA 
            secondaryCta="Maintenance - Book a Free Consultation"
            buttonClass="secondary-cta" 
            client:only="react" />
        </div>
      </div>
    </div>
  </div>
</div>
