---
import CTAButton from "../../buttons/CTAButton"

const { finalCTAData } = Astro.props;

const { imgSrc, imgAlt, title, brief, callToActionText, contactText } = finalCTAData;
---

<div class="final-cta-section">
  <div class="final-cta">
    <div class="final-cta__img">
      <img src={imgSrc} alt={imgAlt} />
    </div>
    <div class="final-cta__text">
      <div class="final-cta__content">
        <div class="final-cta__title">{title}</div>
        <div class="final-cta__brief">
          {brief} {callToActionText} <span>{contactText}</span>
        </div>
        <div class="final-cta__cta">
          <CTAButton href="#" text="Contact Us" buttonClass="secondary-cta"/>
          <CTAButton href="#" text="AI Assistant" buttonClass="tertiary-cta"/>
        </div>
      </div>
    </div>
  </div>
</div>